/* Encabezado */
header{
    background-color: transparent;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0 4%;
    font-size: 1rem;
}

.logo{
    font-size:  16px;
    height: 80px;
    width: 122px;
    vertical-align: middle;
    fill: #e50914;
    line-height: 90px;
 }

 .index{
    margin: 0;
    padding: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
 }
 .index-item{
    display: block;
    list-style-type: none;
    margin-left: 18px;
 }
 .index-secundario{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-pack: end;
    justify-content: flex-end;
    position: absolute;
    right: 4%;
    top: 0;
    height: 100%;
 }

 .elementos{
    margin-right: 10px;
 }
 .buscar{
    display: inline-block;
    border: none;
    background: 0 0;
 }
 button{
    color: inherit;
    font: inherit;
    margin: 0;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    box-sizing: border-box;
    -webkit-appearance: button;
    cursor: pointer;
 }
 .buscar-icono{
   width: 24px;
   height: 24px;
 }

a{
   text-decoration: none;
   color: #fff;
}
span{
   position: relative;
   white-space: normal;
}
.notificaciones{
   background-color: transparent;
   border: none;
   font-size: 1.5em;
   line-height: 1;
   margin-top: 0.2em;
   padding: 2px 6px 3px;
   position: relative;
}
.notificaciones-icono{
   width: 24px;
   height: 24px;
}
.img-perfil{
   vertical-align: middle;
   height: 32px;
   width: 32px;
   border-radius: 4px;
}
.flecha{
   margin-left: 10px;
   width: 0;
   height: 0;
   border-style: solid;
   border-width: 5px 5px 0 5px;
   border-color: #fff transparent transparent transparent;
}

/*Buscador */
  .search-box {
    position: relative;
    width: 250px;
  }
  .search-box .search-box__input {
    outline: none;
    background: rgba(0, 0, 0, 0.85);
    border: solid 1px rgba(255, 255, 255, 0.85);
    box-sizing: border-box;
    padding: 7px 14px 7px 40px;
    width: 0%;
    font-size: 13px;
    color: #fff;
    opacity: 0;
    transition: ease width 1s, ease opacity 1s;
    float: right;
  }
  .search-box .search-box__icon {
    position: absolute;
    top: 7px;
    color: white;
    z-index: 10;
    cursor: pointer;
    right: 12px;
    transition: ease transform 1s;
    transition-delay: 50ms;
  }
  .search-box.active .search-box__icon {
      transform: translateX(-214px);
  }
  .search-box.active .search-box__input {
      opacity: 1;
      width: 100%;
  }
  
 .resaltar{
	color: #777;
  }
  .carrusel{
	display: inline-block;
	
  }

/* Cuerpo */
.main-movie {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/backdrop.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.main-movie .container {
	margin: 0 7%;
	margin-bottom: 6.25em;
}

.main-movie .tittle {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.main-movie .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

.main-movie .button {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}

.main-movie .button:hover {
	background: #fff;
	color: #000;
}

.main-movie .button i {
	margin-right: 1.25em;
}


.items {
    width: 150px;
    height: 250px;
    margin: 5px;
}

.item-img {
    width: 150px;
    height: 250px;
    background-color: #141414;
	color: #141414;
    border-radius: 10px;
} 

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	background-color: #141414;
    background-size: 100%;
    color: #fff;
    margin-left: 0px;
}

.container {
	width: 90%;
	margin: auto;
}


/* ---- ----- ----- container Principal y Flechas ----- ----- ----- */
h3 {
	color: #FFF;
}

.popular {
	margin-bottom: 70px;
}

.popular .main-cointainer {
	display: flex;
	align-items: center;
	position: relative;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.popular .main-cointainer .left,
.popular .main-cointainer .right {
	position: absolute;
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 40px;
	height: 50%;
	top: calc(50% - 25%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}

.popular .main-cointainer .left:hover,
.popular .main-cointainer .right:hover {
	background: rgba(0,0,0, .9);
}

.popular .main-cointainer .left {
	left: 0;
}

.popular .main-cointainer .right {
	right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.popular .carousel-container {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.popular .carousel-container .carousel {
    width: 60%;
	display: flex;
	flex-wrap: nowrap;
}

.popular .carousel-container .carousel .movie {
	min-width: 20%;
	transition: .3s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.popular .carousel-container .carousel .movie:hover {
	transform: scale(1.2);
	transform-origin: center;
}

.popular .carousel-container .carousel .movie img {
	width: 100%;
	vertical-align: top;
}