/* .carrousel{
    width:100%;
    max-width: 120em;
    padding:2em;
    overflow: hidden;
}
.carrousel .big{
    width: 200%;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding:2em;


    transition: all .5s ease;
    transform: translateX(0%);
}
.carrousel .img{
    width: calc( 100% / 2  - 2em);
    min-height: 10vh;
}
.carrousel .buttons{
    width:100%;
    margin:1em 0 0;
    padding:.4em;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.carrousel .button{
    width:  2em;
    height: 2em;
    margin: 1em 1em 0;
}
.carrousel .button .activo{
    background-color: lightblue;
}
*/

.items {
    width: 150px;
    height: 250px;
    background-color: bisque;
    margin: 5px;
}

.item-img {
    width: 150px;
    height: 250px;
    background-color: #141414;
    border-radius: 10px;
} 

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--fondo);
	font-family: 'Open Sans', sans-serif;
}

.container {
	width: 90%;
	margin: auto;
}

header {
	padding: 30px 0;
}

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logotipo {
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color: var(--rojo);
	font-size: 40px;
}

header nav a {
	color: #AAA;
	text-decoration: none;
	margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
	color: #FFF;
}


/* ---- ----- ----- container Principal y Flechas ----- ----- ----- */
.popular {
	margin-bottom: 70px;
}

.popular .main-cointainer {
	display: flex;
	align-items: center;
	position: relative;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.popular .main-cointainer .left,
.popular .main-cointainer .right {
	position: absolute;
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 40px;
	height: 50%;
	top: calc(50% - 25%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}

.popular .main-cointainer .left:hover,
.popular .main-cointainer .right:hover {
	background: rgba(0,0,0, .9);
}

.popular .main-cointainer .left {
	left: 0;
}

.popular .main-cointainer .right {
	right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.popular .carousel-container {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.popular .carousel-container .carousel {
    width: 100%;
	display: flex;
	flex-wrap: nowrap;
}

.popular .carousel-container .carousel .movie {
	min-width: 20%;
	transition: .3s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.popular .carousel-container .carousel .movie:hover {
	transform: scale(1.2);
	transform-origin: center;
}

.popular .carousel-container .carousel .movie img {
	width: 100%;
	vertical-align: top;
}