.center {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background: linear-gradient(to bottom, white, grey);
}

.login{
    width: 400px;
    height: 400px;
}
  